<div *ngIf="poll === undefined">
  <progress class="progress is-small is-primary" max="100"></progress>
</div>

<div *ngIf="poll !== undefined">
  <section class="hero is-medium is-primary is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          {{poll.prompt}}
        </h1>
      </div>
    </div>
  </section>



  <table class="table is-hoverable is-fullwidth">
    <thead>
      <tr>
        <th>Option</th>
        <th class="">Votes</th>
        <th class="has-text-centered">Vote</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let option of poll.options">
        <td>{{option.text}}</td>
        <td>{{option.votes}}</td>
        <td class="has-text-centered">
          <button class="button is-success"
                  (click)="submitVote(option)"
                  [disabled]="murmur === undefined">
            Vote!
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

